/* POLICE GLOBALE */
body {
    font-family: Calibri, Arial, sans-serif;
    margin: 0;
}

/* COULEURS DE FOND PAR PAGE */
.accueil { background-color: #e3f2fd; }
.histoire { background-color: #fef6e4; }
.personnages { background-color: #f1f1f1; }
.equipage { background-color: #e8f5e9; }
.monde { background-color: #f3e5f5; }
.pouvoirs { background-color: #fdecea; }
.contact { background-color: #fffde7; }

/* HEADER */
header {
    background-color: #1a237e;
    color: white;
    padding: 25px;
    text-align: center;
}

/* MENU */
nav {
    background-color: #263238;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #ffca28;
}

/* CONTENU */
.container {
    max-width: 1500px;
    margin: auto;
    padding: 30px;
}

body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            margin: 40px;
        }

        h1 {
            margin-bottom: 30px;
        }

        .gallery {
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            gap: 20px;
            max-width: 1000px;
            margin: auto;
        }

        .card {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.2);
            width: 300px;
        }

        .card h3 {
            margin: 10px 0;
            font-size: 18px;
        }

        .card img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            border-radius: 10px;
        }

/* TEXTES */
h1 { font-size: 36px; }
h2 { font-size: 20px; }
h3 { font-size: 20px; }
p  { font-size: 16px; line-height: 1.6; }

/* IMAGES */
.img-0 {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    margin-top: 10px;
}

.img-1 {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}




/* FORMULAIRE */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #1a237e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3949ab;
}

/* FOOTER */
footer {
    background-color: #1a237e;
    color: white;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
}
